:root{
    --narinci: #FF7404;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    padding-top: 3% !important;
    z-index: 1;
}
.navbar{
    position: absolute;
    top: 0%;
    z-index: 10;
}
#logo{
    font-weight: 800;
    letter-spacing: 8px;
}
.dropdown-menu li a:hover{
    background-color: var(--narinci) !important;
    color: white;
}
.nav-active a{
    color: var(--narinci) !important;
}
#navbar-button a {
    text-decoration: none;
    color: #fff;
    background-color: var(--narinci);
    padding: 8px 12px;
    transition: 0.5s;
}
#navbar-button a:hover{
    background-color: white;
    color: var(--narinci);
}
/* Hover effect for dropdown */
.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
    transition: 0.3s ease-in-out;
  }
.carousel-inner, .carousel-item {
    height: 100vh !important;
}
.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.carousel-indicators {
    position: absolute;
    bottom: 7.4%; 
    z-index: 13;
}

.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    background-color: white !important;
}
header .xett{
    position: absolute;
    width: 110% !important;
    height: 200px;
    background-color: #F8F9FA;
    z-index: 4;
    bottom: -15%;
    transform: rotate(-5.2deg);
}


header{
    position: relative;
    overflow: hidden;
}
.bg{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #00000040;
    z-index: 2;
}
.carousel-caption{
    position: absolute;
    top: 25%;
    color: white !important;
    z-index: 3;
}
.carousel-caption h1{
    font-size: 5em !important;
    font-weight: 900;
    width: 65%;
    margin: auto;
    letter-spacing: 6px;
}
.carousel-caption p{
    font-size: 1.2em;
    padding-top: 20px;
}
.carousel-caption button{
    border: 1px solid white !important;
    color: white;
    border-radius: 0% !important;
    padding: 8px 25px;
    font-weight: 300;
    transition: 0.5s;
    margin-top: 20px;
}
.carousel-caption button:hover{
    background-color: white;
    color: black;
}
/* ---------------------------------------------------------- */
main .cards{
    width: 100% !important;
}
#products{
    background-color: #F8F9FA;
    padding: 70px 0 120px 0;
    min-height: 65vh;
    position: relative;
    overflow: hidden;
}

#products i{
    font-size: 1.7em;
    background-color: var(--narinci);
    color: white;
    padding: 25px 30px;
    border-radius: 50%;
}
#products h4{
    color: var(--narinci);
    font-weight: 300;
    font-size: 1.1em;
    letter-spacing: 3px;
    padding-top: 15px;
}
#products p{
    color: #868E96;
}
#products .xett{
    position: absolute;
    width: 120% !important;
    height: 180px !important;
    background-color: white;
    z-index: 20 !important;
    bottom: -18%;
    left: -5%;
    transform: rotate(-5.2deg);
}
/* ------------------------------------------------- */
#restaurant{
    background-color: white;
    overflow: hidden;
}
#restaurant .r-content{
    padding-bottom: 70px;
}
hr{
    border: 2px solid #FF7404;
    width: 75px;
    margin: auto;
}
h2{
    padding: 30px 0px 10px 0px;
    font-size: 2.9em;
    font-weight: 800;
    color: #000;

}
p{
    color: #90979F;
}
#dishes{
    height: 85vh !important;
}
/* ----------------------------------------------------- */
#menu .r-content{
    padding-bottom: 80px;
}
.cards{
    display: flex;
    justify-content: space-between;
    padding-bottom: 200px;
    flex-wrap: wrap;
}
.cart-wrapper {
    width: 32%;
    position: relative;
    overflow: hidden;  
  }
  
  .cards .cart {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .cards .cart .content{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white;
    z-index: 3;
    text-align: center;
    width: 100%;
  }
  .cards .cart .content .text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--narinci);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: 0.3s;
  }
  .cards .cart:hover .content .text{
    background-color: transparent;
    border: 2px solid white;
  }
  .cards .cart .content p{
    margin: auto;
    color: white;
    font-weight: 800;
    font-size: 1.1em;
  }
  .cards .cart .content h4{
    font-weight: 700;
    padding: 15px 0;
    font-size: 2em;
  }
  .cards .cart img{
    transition: 0.5s; 
    cursor: pointer;
  }  
.cards .cart:hover img{
    scale: 1.1;
}
.cards .cart::before{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
}
 .cards .cart img{
    width: 100%;
 }
/* ---------------------------------------------------------------------------- */

#our-menu{
    position: relative;
    overflow: hidden;
    background-color: #F8F9FA;
    padding-top: 140px;
    padding-bottom: 200px;
}
#our-menu .r-content{
    padding-bottom: 100px;
}
#our-menu .xett{
    position: absolute;
    width: 110% !important;
    height: 200px;
    background-color: white;
    z-index: 4;
    top: -5%;
    left: -2%;
    transform: rotate(-4.9deg);
}
#our-menu .item{
    height: 250px;
    padding: 0%;
    background-color: white;
}
#our-menu .item .content{
    padding: 15px;
}
#our-menu .item .content h3{
    color: var(--narinci);
}
#our-menu .item img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
    object-position: center;
}
/* -------------------------------- */
#testemonial{
    position: relative;
    overflow: hidden;
    background-color: white;
    padding: 100px 0;
}
#testemonial .xett{
    position: absolute;
    width: 110% !important;
    height: 200px;
    background-color: #F8F9FA;
    z-index: 4;
    top: -19%;
    left: -2%;
    transform: rotate(-4.9deg);
}
.r-content{
    padding-top: 100px;
}
#testemonial .content{
    width: 50%;
    margin: auto;
}
#testemonial .content h5{
    text-align: justify;
}
#testemonial .content img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
/* ------------------------------------------------------------------------------------------- */
#blog{
    background-color: #F8F9FA;
    position: relative;
    overflow: hidden;
}
#blog .xett{
    position: absolute;
    width: 110% !important;
    height: 200px;
    background-color: white;
    z-index: 4;
    top: -9%;
    left: -2%;
    transform: rotate(-4.9deg);
}
#blog .cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

#blog .cartt {
    width: 49%;
}
#blog .cartt .box-img{
    height: 50vh;
}
#blog .cartt .box-img img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#blog .cards .box-content{
    padding: 40px 32px;
    background-color: white;
}
#blog .cards .box-content h5{
    color: var(--narinci);
}
#blog .cards .box-content span{
    font-size: 0.8em;
    color: #999999;
}
#blog .cards .box-content i{
padding-bottom: 20px;    
}

#blog .cards .box-content button{
    font-size: 0.8em;
    background-color: var(--narinci);
    color: white;
    border: none;
    padding: 5px 17px;
}
#blog .cards .box-content button:hover{
    background-color: #df8943;
} 
/* ------------------------------------------------------------------------------------------- */
#subsribe {
    position: relative;
    overflow: hidden;
}
#subsribe .xett{
    position: absolute;
    width: 110% !important;
    height: 128px;
    background-color: #F8F9FA;
    z-index: 4;
    top: -23%;
    left: -2%;
    transform: rotate(-4.9deg);
}
#subsribe .contentt{
    padding: 120px 0;
}
#subsribe .contentt p{
    width: 40%;
    margin: auto;
    padding: 15px;
}
#subsribe .contentt form input{
    padding: 10px;
    max-width: 220px;
}
#subsribe .contentt form button{
    background-color: var(--narinci);
    color: white;
    font-size: 0.9em;
    padding: 12.5px 20px;
    border: none;
}
footer h5{
    font-size: 1em;
}
footer h6{
    padding: 10px 0;
}
footer p{
    padding: 5px 0;
}
footer a{
    display: block;
    text-decoration: none;
    color: var(--narinci);
    line-height:2em;
}
/* ------------------------------------------------------------------------------------------- */
@media (max-width:992px) {
    #dishes{
        height:auto !important;
    }
    #dishes img{
        height: 100vh !important;
        width: 100% !important;
    }
    #dishes .b{
        height: 65vh !important;
    }
    h2{
        font-size: 2em;
        font-weight: 700; 
    }
    .r-content{
        width: 90% !important;
    }
    .cards{
        justify-content: center;
    }
    .cart-wrapper {
        width: 49%; 
        padding: 0px 20px 20px 0px; 
      }
      #our-menu .r-content{
        padding-bottom: 20px;
    }
    #our-menu .xett{
        background-color: white;
        top: -4%;
        left: -5%;
    }
    /* #blog .cards{
        min-height: 98vh;
    } */
}
/* ------------------------------------------------------------------------ */
@media (max-width: 768px) {
    #navbar {
      background-color: #000; 
    }   
  
    #navbar .navbar-brand, 
    #navbar .nav-link, 
    #navbar .dropdown-menu {
      color: #fff;
    }
    .carousel-caption h1{
        font-size: 2.2em !important;
        font-weight: 700;
        width: 100%; 
        letter-spacing: 3px;
    }
    .carousel-caption p{
        font-size: 1em;
    }
    #products .xett{
        position: absolute;
        width: 120% !important;
        height: 180px !important;
        background-color: white;
        z-index: 20 !important;
        bottom: -12%;
        left: -5%;
        transform: rotate(-5.2deg);
    }
    #dishes img{
        height: 75vh !important;
        width: 100% !important;
    }
    #dishes .b{
        height: 50vh !important;
    }
    #dishes{
        height:auto !important;
    }
    h2{
        font-size: 1.8em;
        font-weight: 700; 
    }
     .r-content{
        width: 95% !important;
    }
    .cart-wrapper {
        width: 100%; 
        padding: 10px;
      }
      #our-menu{
        position: relative;
        overflow: hidden;
        background-color: #F8F9FA;
        padding-top: 70px;
    }
    #our-menu .r-content{
        padding-bottom: 20px;
    }
    #our-menu .xett{
        background-color: white;
        top: -4%;
        left: -5%;
    }
    #testemonial .r-content{
        padding-top: 100px;
    }
    #testemonial{
        padding-top: 70px;
    }
    #our-menu{
        padding-bottom:  0px;
    }
    #testemonial .content{
        width: 90%;
    }
    #testemonial .content .b{
        width: 32%;
    }
    #testemonial .content .a{
        width: 50%;
    }

    #blog .cartt {
        width: 100%;
    }
    #subsribe .xett{
        top: -16%;
    }
    #subsribe .contentt p{
        width: 95%;
    }
  }